
.TestElement {
    font-size: 33px
}


.Header,
.Body > div {
    display: grid;
    padding: 0px 20px;
}

.EmployeeList .Header,
.EmployeeList .Employee {
    grid-template-columns: 4fr 3fr 2fr;
}

.CategoryPage .Header,
.CategoryPage .Category {
    grid-template-columns: 200px 6fr 2fr;
}
.ProductPage .Header,
.ProductPage .Product {
    grid-template-columns: 200px 6fr 2fr 2fr 2fr 2fr;
}

.Header {
    margin-top: 100px;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
}
.Body {
    padding-top: 5px;
}
.Body > div:hover {
    background-color: lightgrey;
}

.EmployeeList select {
    width: 25%;
}

.DeleteButton {
    cursor: pointer;
}
.DeleteButton:hover {
    color: red;
}

.AddCategory,
.AddProduct,
.AddEmployee {
    width: 500px;
    padding-left: 20px;
}