
.TestElement {
    font-size: 33px
}

.EmployeeRole {
    text-transform: capitalize;
}


.Header,
.Body > div {
    display: grid;
    padding: 0px 20px;
}
.InventoryOrdersPage .Title {
    margin-bottom: 10px;
    font-size: 26px;
    margin-left: 20px;
}

.InventoryOrdersPage .Filledist {
    margin-top: 100px;
}

.InventoryOrdersPage .PendingList .Header,
.InventoryOrdersPage .PendingList .InventoryOrder {
    grid-template-columns: 2fr 3fr 2fr 2fr 4fr 4fr;
}

.InventoryOrdersPage .FilledList .Header,
.InventoryOrdersPage .FilledList .InventoryOrder {
    grid-template-columns: 2fr 3fr 2fr 2fr 4fr 4fr;
}

.InventoryOrdersPage .Form {
    display: flex;
}

.InventoryOrdersPage .Form input {
    width: 60px;
    margin-right: 10px;
    height: 30px !important;
}

.InventoryOrdersPage .Form button {
    margin: 0 !important;
    height: 30px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.EmployeeList .Header,
.EmployeeList .Employee {
    grid-template-columns: 4fr 3fr 2fr;
}

.CategoryPage .Header,
.CategoryPage .Category {
    grid-template-columns: 200px 6fr 2fr;
}
.ProductPage .Header,
.ProductPage .Product {
    grid-template-columns: 200px 5fr 2fr 2fr 2fr 2fr 3fr;
}

.Table {
    margin-top: 100px;
}

.Header {
    padding-bottom: 3px;
    border-bottom: 1px solid black;
}
.Body {
    padding-top: 5px;
}
.Body > div:hover {
    background-color: lightgrey;
}

.EmployeeList select {
    width: 25%;
}

.DeleteButton {
    cursor: pointer;
}
.DeleteButton:hover {
    color: red;
}

.AddCategory,
.AddProduct,
.AddEmployee {
    width: 500px;
    padding-left: 20px;
}

.MenuPage {
    padding-top: 70px;
    text-align: center;
}

.MenuPage .Grid {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
}

.MenuPage .Square {
    width: 100%;
    height: 150px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MenuPage .Square:hover {
    border-color: black;
}