
.SiteNav {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    display: flex;
    justify-content: flex-end; 
    display: block;
    z-index: 999;
}

.SiteNav ul {
    display:flex;
    list-style-type: none;
    margin: 0;
    padding:0;
}
.SiteNav ul li{
    display: block;
    text-decoration: none;
}
.SiteNav ul li a{
    color: black;
    text-decoration: none;
    display:block;
    padding: 10px;
}
.SiteNav ul li a:hover {
    background-color: white;
    color: #cf631b;
}
/* .SiteNav ul:not(:last-child) {
    margin-right: 10px;
}

.SiteNav li:not(:last-child) {
    margin-right: 10px;
} */