
.SiteNav {
    /* position: absolute; */
    background: #ac1a17;    
    padding: 10px;
    font-size: 20px;
}

.Brand{
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    font-family: cursive;}

.SiteNav ul {
    display:flex;
    list-style-type: none;
    margin: 0;
    padding:0;
}
.SiteNav ul li{
    display: block;
    text-decoration: none;
}
.SiteNav ul li a{
    color: white !important;
    text-decoration: none;
    display:block;
    padding: 10px;
}
.SiteNav ul li a:hover {
    /* background-color: white; */
    color: black !important;
}


/* .SiteNav ul:not(:last-child) {
    margin-right: 10px;
}

.SiteNav li:not(:last-child) {
    margin-right: 10px;
} */