.saleMethodHeader{
    padding: 30px 0;
}
.saleMethodHeader > span{
    margin-left: 134px;
    font-size: 41px;
    font-family: "Seaweed Script";
}

.CardForm{
    font-family: cursive;
    font-style: bold;
}

.AccountAddress{
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    position: relative;
    max-width: 600px;
    position: relative;
    margin-left: 15px;
    display: block;
    text-align: center;
}

.AccountAddressBody{
    padding: 2rem;
}

.reviewOrder{
    font-family: cursive;
    margin-left: 19px;
}

.Title{
    margin-top: 50px;
    margin-left: 170px;
    font-size: 41px;
    font-family: "Seaweed Script";
}

.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid rgb(143, 53, 53);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:rgb(98, 133, 231);
    text-align:center;
    transition: all 0.2s;
    margin-left: 120px;
    }
    .button1:hover{
    color:#000000;
    background-color:rgb(202, 113, 113);
    }

    @media all and (max-width:30em){
    .button1{
    display:block;
    margin:0.4em auto;
    }
}

.button2{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid rgb(143, 53, 53);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:rgb(98, 133, 231);
    text-align:center;
    transition: all 0.2s;
    margin-left: 40px;
    }
    .button2:hover{
    color:#000000;
    background-color:rgb(202, 113, 113);
    }

    @media all and (max-width:30em){
    .button2{
    display:block;
    margin:0.4em auto;
    }
}

.button3{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid rgb(143, 53, 53);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:rgb(98, 133, 231);
    text-align:center;
    transition: all 0.2s;
    margin-left: 136px;
    }
    .button3:hover{
    color:#000000;
    background-color:rgb(202, 113, 113);
    }

    @media all and (max-width:30em){
    .button3{
    display:block;
    margin:0.4em auto;
    }
}




    
.CustomAddressForm{
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    position: relative;
    max-width: 600px;
    position: relative;
    display: block;
    margin:auto;
    text-align: center;
}

.AddressBody{
    padding: 2rem;
}

.PaymentForm{
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    position: relative;
    max-width: 600px;
    position: relative;
    display: block;
    margin:auto;
    text-align: center;
}

.PaymentBody{
    padding: 2rem;
}